/**
 * Config
 */

:root {
    /* Colours */
    --accent: #F4BECE;
    --background: #222C36;


    /* Light Mode */
    --accent: hsl(342, 71%, 50%);
    --copy-color: #222C36;
    --background: #fff;

    /* Sizes */
}

/** Grid Variables */
:root {}