/**
 * Config
 */

:root,
[data-selected-theme="dark"] {
    /* Colours */
    --accent: #F4BECE;
    --copy-color: #fff;
    --background: #222C36;

    --button-color: var(--copy-color);
    --button-background: hsl(from var(--background) h s calc(l + 10));
    --button-border-color: rgba(0, 0, 0, .5);

    --button-hover-background: hsl(from var(--button-background) h s calc(l + 5));
    --button-active-background: hsl(from var(--button-background) h s calc(l - 5));

    /* Sizes */
}

[data-selected-theme="light"] {
    --accent: hsl(342, 71%, 50%);
    --copy-color: #222C36;
    --background: #fff;

    --button-hover-background: hsl(from var(--background) h s calc(l - 5));
    --button-active-background: hsl(from var(--background) h s calc(l - 10));
}

[data-selected-theme="aurora"] {
    --accent: #ABF4B2;
    --copy-color: #E5F1F4;
    --background: #132427;
}

/** Grid Variables */
:root {}