/**
 * Header
 */

footer.core {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 1.5em;
    margin-top: 8rem;
    margin-bottom: 2.5rem;
    color: hsl(0, 0%, 87%);
    color: var(--copy-color);
    font-size: 1rem;

    p {
        margin: 0;
    }
}

/** Extra: Moiety */
footer.core [href="https://moiety.studio"]
{
    display: inline-block;
    padding-right: 1.125em;
    position: relative;
    text-decoration: none;
    transition: cubic-bezier(0.215, 0.61, 0.35, 1) 0.2s;
    transition-property: color, padding;

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        content: "→";
        vertical-align: center;
        color: transparent;
        transition: color cubic-bezier(0.215, 0.61, 0.35, 1) 0.1s;
        transform: translateY(-50%);
    }

    span {
        color: var(--accent);
    }

    &:is(:hover, :focus-visible) {
        padding-left: 1.125em;
        padding-right: 0;
        color: inherit;
    }

    &:is(:hover, :focus-visible)::before {
        color: inherit;
    }
}
