<header class="core">
    <a href="#main" class="skip-link">Skip to main content</a>
    <a href="/" class="logo">
        <svg role="img" aria-label="elf." width="69" height="65">
            <use href="/assets/icons/sprite.svg#logo" />
        </svg>
    </a>

    {% include "navigation.njk" %}
</header>
