<header class="core">
    <a href="#main" class="skip-link">Skip to main content</a>
    <a href="/" class="logo">
        <svg role="img" aria-label="elf." width="69" height="65">
            <use href="/assets/icons/sprite.svg#logo" />
        </svg>
    </a>
    
    <nav aria-label="site" class="core" >
        <a href="/about">About</a>
        <a href="/documentation">
            <span hidden>Docs</span>
            <span>Documentation</span>
        </a>
        <a href="https://github.com/moiety-studio/elf">
            GitHub
            <svg role="img" aria-label="(external link)">
                <use href="/assets/icons/sprite.svg#external-link" />
            </svg>
        </a>
    </nav>
</header>
