---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>https://elf.moiety.studio</loc>
        <lastmod>2024-12-30</lastmod>
    </url>
    <url>
        <loc>https://elf.moiety.studio/about</loc>
        <lastmod>2024-12-29</lastmod>
    </url>
    <url>
        <loc>https://elf.moiety.studio/documentation</loc>
        <lastmod>2024-12-29</lastmod>
    </url>
</urlset>
