---
permalink: .htaccess
eleventyExcludeFromCollections: true
---

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

# block “AI” bots
RewriteCond %{HTTP_USER_AGENT} ({{ bots | join("|") }}) [NC]
RewriteRule ^ – [F]
</IfModule>
