/**
 * Home
 */

body.home {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main svg {
        display: block;
        max-width: 169px;
        height: auto;
    }

    main p {
        margin: 2.5rem 0 0;
    }
}