/**
 * Skiplinks
 */

a.skip-link {
    display: block;
    position: fixed;
    left: 1em;
    bottom: 100%;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

a.skip-link:focus-visible {
    top: 1em;
    bottom: unset;
    color: #6d122d;
    background: #fff;
}
